.education {
  background-color: #1d232e;
  width: 88%;
  height: 77.3%;
  display: flex;
  padding: 6%;
  margin-top: 3px;
  border-radius: 8px;
  
}
.main{
  width: 58%;
  margin: auto;
  
}
.inner {
  /* background: rgb(143, 0, 0); */
  text-align: start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}
.education hr {
  width: 100%;
}
.inner h3 {
  flex-basis: 100%;
  margin: 0;
  font-size: 1.5em;
  font-weight: 500;
  height: fit-content;
}
.inner i {
  margin: 0px;
  height: fit-content;
  align-self: flex-start;
  font-size: 1.2em;
  color: rgb(176, 176, 176);
}
.flex {
  align-self: flex-end;
  width: 100%;
  flex-direction: row;
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
}
.flex label {
  font-weight: 600;
  font-size: 1.5em;
}
