.projectHolder{
    border-right: none;
    border-left: none;
    height: 80vh;
    position: relative;
    padding: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.projectHolder>img{
    position: absolute;
    border-radius: 50px;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(50px);
}
.projectHolder>div{
    width: 40rem;
    margin:10px;
}
.projectHolder>div>h2{
    text-align: start;
    margin-bottom: 50px;
    font-size: 2.5em;
    background: linear-gradient(90deg,  #aa00ff00 50%, #aa00ff 25% ,#ff0051);
    background-size: 300%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    width: fit-content;
}
.projectHolder>div>p{
    color: #ffffff;
    background: linear-gradient(90deg,  #aa00ff00 50%,#ffffff 50%);
    background-size: 200%;
    text-align: start;
    font-size: 1.5em;
    border-radius: 20px;
    padding: 5px;
}
.linkButton{
    display: block;
    border-radius: 50px;
    margin-right: 20px;
    padding: 5px;
    width: 9rem;
    border: solid;
    color: #ff5353;
    text-decoration: none;
    font-size: 1.5em;
    width: 9rem;
    background-color: #000000;
    height: 100%;
}
.linkButton:first-child{
    color: #796aff;
}
.flex{
    display: flex;
}

.image img{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 0;
    border-radius: 15px;
    width: 40rem;
}