.logo {
  font-size: 2.5em;
  font-weight: 700;
  margin-left: 5%;
}
.gradient {
  background: linear-gradient(90deg, #5200ff, #7b00ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
