.logo{
    color: white;
    font-size: 2.5em;
    font-weight: 700;
}
.gradient{
    background: linear-gradient(90deg, #5200FF, #7b00ff);
     -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}