.contactMain h3{
    color: rgb(167, 167, 167);
}
.tagHolder{
    display: flex;
    gap: 8rem;
    font-size: 1.8em;
    border-radius: 20px;
    padding: 20px;
    background-color: #1a1a1a;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.tagsName{
    color: rgb(255, 255, 255);
    letter-spacing: 1.5px;
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.tagsName>label{
    border-radius: 5px;
    background: linear-gradient(90deg, #ff0088 0%,  #ff0000 130%);
    padding: 5px 10px;
}
.tagsValue{
    padding-top: 5px;
    display: flex;
    gap: 30px;
    flex-direction: column;
}
.tagsValue>label{
    color: rgb(232, 232, 232);
    cursor: text;
}