.gradient {
  width: inherit;
  height: inherit;
}

@keyframes gradient {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
@keyframes stopRot {
  0% {
    rotate: 360deg;
  }
  100% {
    rotate: 0deg;
  }
}
